.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  button {
    border: none;
  }
}
.selected {
  color: #1890ff;
}
.locked {
  opacity: 0.5;
  cursor: not-allowed;
}

.component {
  pointer-events: none; // 屏蔽鼠标行为，组件不让被点击到
}
